
/* ===================================================================================== */
@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.woff2') format('woff2'),
        url('CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic-Bold.woff2') format('woff2'),
        url('CenturyGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rollgates Luxury';
    src: url('RollgatesLuxury.woff2') format('woff2'),
        url('RollgatesLuxury.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optima';
    src: url('Optima.woff2') format('woff2'),
        url('Optima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optima';
    src: url('Optima.woff2') format('woff2'),
        url('Optima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* ===================================================================================== */
