@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.room-banner {
  position: relative;
  color: white;
  overflow: hidden;
  height: 100vh;
}
@media only screen and (max-width: 1024px) {
  .room-banner {
    height: 80vh;
  }
}
@media only screen and (max-width: 991px) {
  .room-banner {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .room-banner {
    height: 60vh;
  }
}
.room-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 56.42%, rgba(0, 0, 0, 0.86) 88.21%), linear-gradient(180deg, rgba(0, 0, 0, 0) 54.69%, rgba(0, 0, 0, 0.75) 82.1%);
}
.room-banner .video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .room-banner .video-background .container {
    padding: 0;
  }
}
.room-banner .video-background .container .bg-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 15%;
  left: 0;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .room-banner .video-background .container .bg-wrapper {
    bottom: 10%;
  }
}
@media only screen and (max-width: 540px) {
  .room-banner .video-background .container .bg-wrapper {
    bottom: 10%;
    margin-left: 0;
  }
}
.room-banner .video-background .container .bg-wrapper h1 {
  max-width: 576px;
  margin-bottom: 20px;
  margin: auto;
}
.room-banner .video-background .container .bg-wrapper p {
  max-width: 418px;
  margin: auto;
  line-height: 1.3;
}

.rooms-sec .heading {
  padding: 50px 0;
  background: var(--white);
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 540px) {
  .rooms-sec .heading {
    padding: 20px 0;
  }
}
.rooms-sec .heading figure {
  text-align: center;
  margin-bottom: 25px;
}
.rooms-sec .heading h2 {
  -webkit-text-fill-color: white;
}
@media only screen and (max-width: 540px) {
  .rooms-sec .heading h2 {
    font-size: 28px;
  }
}
.rooms-sec .banner {
  position: relative;
  color: white;
  overflow: hidden;
  height: 100vh;
}
@media only screen and (max-width: 1024px) {
  .rooms-sec .banner {
    height: 80vh;
  }
}
@media only screen and (max-width: 768px) {
  .rooms-sec .banner {
    height: 70vh;
  }
}
@media only screen and (max-width: 540px) {
  .rooms-sec .banner {
    height: 80vh;
  }
}
.rooms-sec .banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.07%, rgba(0, 0, 0, 0.8) 78.09%);
}
@media only screen and (max-width: 768px) {
  .rooms-sec .banner::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 13.04%, rgba(0, 0, 0, 0.65) 62.5%);
  }
}
.rooms-sec .banner .bg {
  height: 100%;
}
.rooms-sec .banner .bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .rooms-sec .banner .bg .container {
    padding: 0;
  }
}
.rooms-sec .banner .bg .container .bg-wrapper {
  position: absolute;
  width: 90%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media only screen and (max-width: 991px) {
  .rooms-sec .banner .bg .container .bg-wrapper {
    bottom: 10%;
  }
}
@media only screen and (max-width: 768px) {
  .rooms-sec .banner .bg .container .bg-wrapper {
    bottom: -10%;
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
}
@media only screen and (max-width: 540px) {
  .rooms-sec .banner .bg .container .bg-wrapper {
    bottom: -5%;
    gap: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .rooms-sec .banner .bg .container .bg-wrapper .left-content {
    margin: auto;
  }
}
@media only screen and (max-width: 540px) {
  .rooms-sec .banner .bg .container .bg-wrapper .left-content {
    width: 100%;
  }
}
.rooms-sec .banner .bg .container .bg-wrapper .left-content h2 {
  -webkit-text-fill-color: white;
  line-height: 1;
  max-width: 376px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 540px) {
  .rooms-sec .banner .bg .container .bg-wrapper .left-content h2 {
    font-size: 28px;
  }
}
.rooms-sec .banner .bg .container .bg-wrapper .left-content .flex-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
@media only screen and (max-width: 540px) {
  .rooms-sec .banner .bg .container .bg-wrapper .left-content .flex-box {
    gap: 10px;
  }
}
.rooms-sec .banner .bg .container .bg-wrapper .left-content .flex-box span {
  border-right: 1px solid rgba(255, 255, 255, 0.3019607843);
  height: -webkit-fill-available;
}
.rooms-sec .banner .bg .container .bg-wrapper .left-content .flex-box .col {
  display: flex;
  align-items: start;
  gap: 10px;
  flex-direction: column;
}
@media only screen and (max-width: 540px) {
  .rooms-sec .banner .bg .container .bg-wrapper .left-content .flex-box .col {
    flex-direction: column;
    flex: 0 1 50%;
  }
}
.rooms-sec .banner .bg .container .bg-wrapper .left-content .flex-box .col figure {
  width: 26px;
  height: 26px;
}
.rooms-sec .banner .bg .container .bg-wrapper .left-content .flex-box .col figure svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rooms-sec .banner .bg .container .bg-wrapper .left-content .flex-box .col figure svg path {
  stroke: white;
}
.rooms-sec .banner .bg .container .bg-wrapper .left-content .flex-box .col p {
  width: 161px;
  line-height: 1.4;
}
@media only screen and (max-width: 540px) {
  .rooms-sec .banner .bg .container .bg-wrapper .left-content .flex-box .col p {
    font-size: 12px;
  }
}
.rooms-sec .banner .bg .container .bg-wrapper .right-content {
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 768px) {
  .rooms-sec .banner .bg .container .bg-wrapper .right-content {
    margin: auto;
  }
}
.rooms-sec .banner .bg .container .bg-wrapper .right-content .btn {
  padding: 8px 21px;
}

.room-detail-banner {
  margin-top: var(--headerheight);
}
.room-detail-banner .bg-wrapper {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.room-detail-banner .bg-wrapper::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 320px;
  top: 0%;
  left: 0%;
  background: url("../../images/leaf-2.png");
}
.room-detail-banner .bg-wrapper::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 320px;
  top: 0%;
  right: 0%;
  transform: scaleX(-1);
  background: url("../../images/leaf-2.png");
}
.room-detail-banner .bg-wrapper h1 {
  font-family: "Optima";
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  text-align: center;
  color: var(--white);
  max-width: 459px;
  margin: auto;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.room-detail-banner .bg-wrapper p {
  font-family: "Century Gothic";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: rgba(255, 255, 255, 0.6980392157);
  max-width: 550px;
  margin: auto;
}

.room-detail-secA .swiper .swiper-nav {
  position: absolute;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.room-detail-secA .swiper .swiper-wrapper {
  margin: 0 0 50px 0;
}
.room-detail-secA .swiper .swiper-wrapper .swiper-slide-prev, .room-detail-secA .swiper .swiper-wrapper .swiper-slide-next {
  opacity: 20%;
}
.room-detail-secA .swiper .swiper-wrapper .swiper-slide {
  transition: 0.5s ease;
}
.room-detail-secA .swiper .swiper-wrapper .swiper-slide:hover img {
  scale: 1.1;
}
.room-detail-secA .swiper .swiper-wrapper .swiper-slide figure {
  height: 480px;
  overflow: hidden;
}
.room-detail-secA .swiper .swiper-wrapper .swiper-slide figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s ease;
}
.room-detail-secA .swiper .btn {
  margin: auto;
  padding: 9px 21px;
}

.room-detail-secB {
  position: relative;
  margin: 30px 0 60px 0px;
  padding: 40px 0 30px 0;
}
.room-detail-secB::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 47%;
  height: 1px;
  background: #D4C6B0;
}
.room-detail-secB::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  width: 47%;
  height: 1px;
  background: #D4C6B0;
}
.room-detail-secB .left-ico {
  position: absolute;
  bottom: -12px;
  left: 47.5%;
  transform: rotate(-180deg);
  line-height: 0;
}
.room-detail-secB .left-ico svg path {
  fill: #D4C6B0;
}
.room-detail-secB .right-ico {
  position: absolute;
  top: -12px;
  right: 47.5%;
  line-height: 0;
}
.room-detail-secB .right-ico svg path {
  fill: #D4C6B0;
}
.room-detail-secB .container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
.room-detail-secB .heading {
  max-width: 454px;
}
.room-detail-secB .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px 0 50px 0;
}
.room-detail-secB .grid-box .grid-box-item {
  background: rgba(255, 255, 255, 0.0509803922);
  border-radius: 5px;
  padding: 30px;
}
.room-detail-secB .grid-box .grid-box-item figure {
  width: 44px;
  height: 44px;
  line-height: 0;
  margin: auto;
  margin-bottom: 10px;
}
.room-detail-secB .grid-box .grid-box-item h3 {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  max-width: 135px;
  margin: auto;
}

.room-detail-secC {
  position: relative;
  color: white;
  overflow: hidden;
  height: 100vh;
}
@media only screen and (max-width: 1024px) {
  .room-detail-secC {
    height: 80vh;
  }
}
@media only screen and (max-width: 991px) {
  .room-detail-secC {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .room-detail-secC {
    height: 60vh;
  }
}
.room-detail-secC::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 32.5%, rgba(0, 0, 0, 0.7) 69.17%);
}
.room-detail-secC .video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .room-detail-secC .video-background .container {
    padding: 0;
  }
}
.room-detail-secC .video-background .container .bg-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 18%;
}
@media only screen and (max-width: 991px) {
  .room-detail-secC .video-background .container .bg-wrapper {
    bottom: 10%;
  }
}
@media only screen and (max-width: 540px) {
  .room-detail-secC .video-background .container .bg-wrapper {
    bottom: 10%;
    margin-left: 0;
  }
}
.room-detail-secC .video-background .container .bg-wrapper h2 {
  max-width: 576px;
  margin-bottom: 20px;
  -webkit-text-fill-color: var(--white);
  max-width: 376px;
  line-height: 1;
}
.room-detail-secC .video-background .container .bg-wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  max-width: 526px;
  margin-bottom: 40px;
}
.room-detail-secC .video-background .container .bg-wrapper .btn {
  padding: 10px 21px;
}

.room-detail-secD {
  overflow: hidden;
}
.room-detail-secD .heading {
  position: relative;
}
.room-detail-secD .heading p {
  max-width: 605px;
  line-height: 1.4;
}
.room-detail-secD .heading .swiper-nav {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.room-detail-secD .swiper .swiper-wrapper {
  padding: 50px 0 0 0;
}
.room-detail-secD .swiper .swiper-wrapper .swiper-slide:hover img {
  scale: 1.1;
}
.room-detail-secD .swiper .swiper-wrapper .swiper-slide figure {
  height: 351px;
  position: relative;
  overflow: hidden;
}
.room-detail-secD .swiper .swiper-wrapper .swiper-slide figure::before {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  z-index: 1;
}
.room-detail-secD .swiper .swiper-wrapper .swiper-slide figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.8s ease;
}
.room-detail-secD .swiper .swiper-wrapper .swiper-slide figure h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 30px 30px 40px;
  color: white;
  font-family: Kugile;
  font-weight: 400;
  font-size: 24px;
  -webkit-text-fill-color: white;
  z-index: 1;
}/*# sourceMappingURL=room.css.map */